@mixin placeholder-font {
  color: #86a8e7;
  font-weight: 300;
  font-size: 13px;
  padding: 5px 0px 0px 5px;
}

@mixin textarea-font {
  color: black;
  //font-weight: 350;
  // font-size: 15px;
  padding: 15px 0px 0px 10px;
  font-weight: 300;
  font-size: 15px;
}

.invoiceWrapper {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: $gradient;
  padding-bottom: 30px;
}

form {
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 75%;
  div {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }
}

.invoiceNumber {
  width: 30%;
}

.invoiceDate {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.invoiceItem {
  button {
    align-self: flex-end;
  }
}

.invoiceItemWrapper {
  display: flex;
  flex-direction: row;
  width: 30;
  .invoiceItemForm {
    display: flex;
    flex-direction: row;
    width: 100%;
    div {
      display: flex;
      margin: 0;
    }
    .numbers {
      display: flex;
      flex-direction: row;
      margin: 0;
      margin: 0 0 0 100px;
      textarea {
        width: 60px;
      }
      div {
        margin: 0 30px;
      }
    button {
      background-color: #91eae4;
      border: none;
      color: white;
      padding: 0px 30px;
      font-size: 10px;
      width: 10%;
      }
    }
  }
}

.invoiceSummary {
  align-self: flex-end;
  div {
    margin: 0;
  }
}

.notes {
  display: flex;
  flex-direction: column;
}

h1 {
  margin-top: 30px;
  text-align: center;
}

textarea {
  border: none;
  @include textarea-font;
}

small {
  color: rgb(248, 241, 241);
}

a {
  text-decoration: none;
}

small:hover {
  color: $hovercolor;
}

::placeholder {
  @include placeholder-font;
}