.profileWrapper {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-self: center;
  background: $gradient;
  padding-bottom: 30px;

  button {
    margin-left: 15px;
  }
}

.profileForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  div {
    display: flex;
    margin: 15px;
    width: 40%;
  }
}

// INVOICE INDEX

.invoices {
  display: flex;
  flex-direction: column;
  align-self: center;
  h2, h4 {
    text-align: center;
    margin: 5px;
  }
}

.invoiceindex {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  .invoiceid {
    background-color: white;
    padding: 20px;
    margin: 15px;
    a {
      text-decoration: none;
      h4 {
        color: #7f7fd5;
        margin: 5px 5px 10px 5x;
      }
      p {
        margin: 5px;
        color: black;
      }
    }
  }
}
